.box-1 {
	border-style: dotted;
	border-color: blue;
	border-width: 6px;
}

.box-2 {
	border-style: dashed;
	border-color: green;
	border-width: 12px;

}

.box-3 {
	border-style: double;
	border-color: red;
	border-width: 4px;

}
 table.table-bordered > tbody > tr > td {
	border-style: double;
	border-color: red;
	border-width: 4px;
}

